body {
  background: black url('./imagens/image_bg.png') top/100vw repeat-y;
}

#root {
  display: flex;
  flex-flow: row;
  height: 100vh;
}

.Direita, .Esquerda, .Centro {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.Esquerda {
  width:14.6vw;
  padding-left: 1.4vw;
  border-right: rgb(34, 46, 80) solid 1px;
  position: fixed;
}

.Centro {
  width: 50vw;
  margin-left: 16vw;
  padding: 0 1vw 0 9vw;
}

.Direita {
  align-items: center;
  width:36vw;
  padding: 5vh 10vw 0 3.8vw;
}
